target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

.idea/
*.ipr
*.iml
*.iws
.project
.classpath
.settings/
bin/
.vscode/
.factorypath

.DS_Store
*.swp
*.swo

.git/
.gitignore

Dockerfile
.dockerignore

*.log

.env
.env.local

.quarkus/